<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Fax it!{% endblock %}</title>
    {% block stylesheets %}
    <style>

    </style>
    {% endblock %}
</head>
<body>
{% block body %}{{ text }}{% endblock %}
</body>
</html>
